{% extends 'base.html' %}

{% block body %} 
<br>
<div id='left'>
    <form>
        <label>Interface:</label>
        <select id="interface">
            <option disabled selected value="">select</option>
            <option value='en0'>en0</option>
        </select><br>
        <button type="button" id='btn'> Start! </button>
    </form>
</div>
<div id='right'> 
    <p>This is the latest output: <span id="latest"></span></p>
    <p>This is all the output:</p>
    <br><br><br>
    <div class='listbox-area'>
        <span id='ss_elem'>
            Captured Packets:
        </span>
        <ul id='ss_elem_list'
            role='listbox'>
        </ul>

    </div>
    <script src="{{ url_for('static', filename='live.js') }}">
    </script>
</div>
{% endblock %}