{% extends 'base.html' %}

{% block body %} 
<br>
<div id='left'>
    <button type="button" id='backbtn'> Back </button>
    <form>
        <label>Interface:</label>
        <select id="interface">
            <option disabled selected value="">select</option>
            <option value='en0'>en0</option>
            <option value='p2p0'>p2p0</option>
            <option value='awdl0'>awdl0</option>
            <option value='loopback'>loopback</option>
        </select><br>
        <button type="button" id='btn'> Start! </button>
        <br>
        <input type='checkbox' id='token'>Tokenize</input>
    </form>

    <button value='Stop' id='btn2' type='button'>Stop</button>
    <button value='Save' id='btn3' type='button'>Save</button>
</div>
<div id='right'> 
    <p>This is the latest output: <span id="latest"></span></p>
    <p>This is all the output:</p>
    <br><br><br>
    <p id='net_name'></p>
    <br>
    <div class='listbox-area' id='listbox'>
        <span id='ss_elem'>
            Captured Packets:
        </span>
        <ul id='ss_elem_list'
            role='listbox'>
        </ul>

    </div>
    <script src="{{ url_for('static', filename='live.js') }}">
    </script>
</div>
{% endblock %}